.title {
  margin-top: 100px;
  padding-bottom: 100px;
  color: #252b42;
  font-family: Montserrat;
  font-size: 40px;
  font-weight: 700;
  line-height: 57px;
  letter-spacing: 0.2px;
}

.subtitle {
  color: #737373;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 500;
  line-height: 38px;
  letter-spacing: 0.2px;
}

.defaultClass {
  padding-top: 50px;
}

.color_red {
  color: red;
}

.color_blue {
  color: rgb(0, 26, 255);
}
