.title {
  margin-top: 100px;
  padding-bottom: 50px;
  color: #252b42;
  font-family: Montserrat;
  font-size: 40px;
  font-weight: 700;
  line-height: 57px;
  letter-spacing: 0.2px;
  text-align: center;
}

.subtitle {
  color: #737373;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 500;
  line-height: 38px;
  letter-spacing: 0.2px;
}

.button {
  width: 200px;
  height: 50px;

  background: rgb(123, 195, 123);
  box-shadow: 0px 10px 30px rgba(183, 50, 39, 0.2);
  border-radius: 30px;
  color: #fff;

  font-family: Montserrat;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;

}

.buttonDel {
  width: 50px;
  height: 30px;
  background: red;
}

.buttonEdit {
  width: 50px;
  height: 30px;
  background: rgb(0, 255, 55);
}

.items-list {
  display: grid;
  justify-content: center;
  align-items: center;
   margin: 0;
  // padding: 0;
  // text-align: left;
  // list-style: none;
}

.items-list li {
 // border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 10px 0;
  font-weight: 100;
  display: flex;
  gap: 20px;
}


.divButton {
  text-align: center;
}

.defaultClass {
  padding-top: 50px;
}

.color_red {
  color: red;
}

.color_blue {
  color: rgb(0, 26, 255);
}

input[type="text"] {
  padding: 12px 20px;
  border: 1px solid rgb(41, 12, 12);
}

.messages {
  margin: 0 auto;
  width: 400px;
}

.item-list{
  margin: 0 auto;
  width: 400px;
}

.add-items input {
  padding: 10px;
  outline: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.message {
  gap: 20px;
  text-align: center;
  display: flex;
  text-align: center;
  justify-content: space-between;
  padding-top: 50px;
}

#spinner:not([hidden]) {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#spinner::after {
  content: "";
  width: 80px;
  height: 80px;
  border: 2px solid #f3f3f3;
  border-top: 3px solid #f25a41;
  border-radius: 100%;
  will-change: transform;
  animation: spin 1s infinite linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.pokemon-row{
  display: grid;

  grid-template-columns: repeat(3, 1fr);
  grid-gap: 35px;
  max-width: 1300px;
  margin: 0 auto;
  padding-bottom: 70px;
}

.cardPokemon {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: baseline;

  background: #ffffff;
  padding-left: 40px;
  padding-right: 45px;

  text-align: center;
  box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
  border-radius: 20px;

  height: 350px;
  width: 300px;
}

img {
  width: 200px;
  height: 200px;
}

.conteiner__row {
  display: flex;
  text-align: center;
  justify-content: space-between;
}

.pokemonData {
  width: 400px;
  height: 600px;
  background-color: burlywood;
  display: inline;
  justify-content: center;
  text-align: center;

  position: fixed;
  right: 0;
}
.namePoke {
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 700;
}

.imageContainer {
  padding-bottom: 20px;
  margin: 0 auto;
}
// .imageContainer img {
//   width: 200px;
//   height: 200px;
// }

.textPokemon {
  margin: 0 auto;
}

.boxPokemon {
  width: 40px;
  height: 20px;
  padding: 20px;

  background: rgb(99, 16, 10);
}

.pokemon-attributes {
  //padding-top: 30px;
  width: 350px;
  height: 500px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
}
.poke-types {
  width: 350px;

  ul {
    display: flex;
    justify-content: center;
    gap: 10px;
    li {
      width: 32.29%;
      border-radius: 5px;
      margin: 0.5em 0 0 0;
    }
  }
}

.poke-types li a {
  font-family: "Flexo-Medium", arial, sans-serif;
  color: inherit;

  float: left;
  line-height: 100%;
  padding: 0.5em 0;
  width: 100%;
}

.poke-stats {
  padding-top: 30px;

  table {
    margin: 0 auto;
  }
}

.fire {
  background-color: red;
}

.flying {
  background-color: blue;
}

.grass {
  background-color: #737373;
}

.poison {
  background-color: cadetblue;
}

// .imageClose{
//   width: 30px;
//   max-height: 30px;
//   position: fixed;
//   right: 0;
//  // float: right;

// }

// .close {
//   cursor: pointer;
//   position: absolute;
//   top: 50%;
//   right: 0%;
//   padding: 12px 16px;
//   transform: translate(0%, -50%);
// }

// .close:hover {background: #bbb;}

.closeBtn {
  font-size: 40px;
  cursor: pointer;
  position: absolute;
  right: 10px;
}

.closePoke{
  display: none;
}

#search-container{
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  gap: 15px;
}

#search-container input {
  background-color: transparent;
  width: 40%;
  border-bottom: 2px solid #110f29;
  padding: 1em 0.3em;
}

#search-container input:focus {
  border-bottom-color: #6759ff;
}

#search-container button {
  padding: 1em 2em;
  margin-left: 1em;
  background-color: #6759ff;
  color: #ffffff;
  border-radius: 5px;
  margin-top: 0.5em;
}

.hide {
  display: none;
}