body {
  font-family: "Montserrat", sans-serif;
  background-color: blanchedalmond;
}
html{
  scroll-behavior: smooth;
}

.container {

 
  padding: 0;
  max-width: 1630px;
  margin: 0 auto;
  text-align: center;
  
}




